<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <h1>Design your taco!</h1>
                    <img th:src="@{/images/TacoCloud.jpg}" />
                    <form method="POST" th:object="${taco}">
                        <div class="grid">
                            <div class="ingredient-group" id="wraps">
                                <h3>Designate your wrap:</h3>
                                <span style="color:red" th:if="${#fields.hasErrors('ingredients')}" 
                                  th:errors="*{ingredients}"></span><br/>
                                <div th:each="ingredient : ${wrap}">
                                    <input name="ingredients" type="checkbox"
                                           th:value="${ingredient.id}" /> <span th:text="${ingredient.name}"> 
                                        INGREDIENT</span><br />
                                </div>
                            </div>
                            <div class="ingredient-group" id="proteins">
                                <h3>Pick your protein:</h3>
                                <div th:each="ingredient : ${protein}">
                                    <input name="ingredients" type="checkbox"
                                           th:value="${ingredient.id}" /> <span 
                                           th:text="${ingredient.name}">INGREDIENT</span><br />
                                </div>
                            </div>
                            <div class="ingredient-group" id="cheeses">
                                <h3>Choose your cheese:</h3>
                                <div th:each="ingredient : ${cheese}">
                                    <input name="ingredients" type="checkbox"
                                           th:value="${ingredient.id}" /> <span
                                           th:text="${ingredient.name}">INGREDIENT</span><br />
                                </div>
                            </div>
                            <div class="ingredient-group" id="veggies">
                                <h3>Determine your veggies:</h3>
                                <div th:each="ingredient : ${veggies}">
                                    <input name="ingredients" type="checkbox"
                                           th:value="${ingredient.id}" /> <span 
                                           th:text="${ingredient.name}">INGREDIENT</span><br />
                                </div>
                            </div>
                            <div class="ingredient-group" id="sauces">
                                <h3>Select your sauce:</h3>
                                <div th:each="ingredient : ${sauce}">
                                    <input name="ingredients" type="checkbox"
                                           th:value="${ingredient.id}" /> <span 
                                           th:text="${ingredient.name}">INGREDIENT</span><br />
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>Name your taco creation:</h3>
                            <span style="color:red" th:if="${#fields.hasErrors('name')}" 
                                  th:errors="*{name}"></span><br/>
                            <input type="text" th:field="*{name}" /> <br />                            
                            <button>Submit your taco</button>
                        </div>
                    </form>
                </body>
                </html>
